.button{
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	border-radius: 0.375rem;
	cursor: pointer;
	transition: $animation__duration;
	&:hover{
		opacity: 0.8;
	}
	&--{
		&flex{
			@extend .button;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
