.menu{
	background-color: $color__green--dark;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			@extend .g-section__content;
			@extend .b-grid;
			@extend .b-grid--row;
			align-items: center;
		}
		&link{
			box-sizing: border-box;
			display: block;
			height: 3rem;
			padding: 0 1rem;
			line-height: 3rem;
			text-align: center;
			text-decoration: none;
			white-space: nowrap;

			color: $color__white;
			font-size: 0.875rem;
			&._active{
				background-color: $color__font--secondary;
				box-shadow: inset 0 -4px 0 $color--secondary;
			}
			&:not(._active){
				&:hover{
					color: $color--secondary;
				}
			}
		}
	}
}
