.news-sale{
	@extend .b-grid;
	@extend .b-grid--row;
	@media(--desktop-less){
		flex-direction: column;
		height: auto;
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&news{
			height: 32rem;
			width: 59%;
			@media(--desktop-less){
				width: 100%;
			}
			@media(--tablet-less){
				height: 20rem;
			}
		}
		&sale{
			width: 40%;
			height: 32rem;
			@media(--desktop-less){
				width: 100%;
			}
			@media(--tablet-less){
				height: 20rem;
			}
		}
	}
}
