.options{
	box-shadow: 1px 0 0 $color__pink--dark;
	// pseudo-classes

	// mods
	&--{
		&age{
			height: 100%;
			background-color: $color--primary;
		}
		&age .options__head{
			background-color: $color__green--light;
			color: $color__gray--dark;
		}
		&age .options__body{
			text-align: center;
		}
	}
	// pseudo-elements

	// elements
	&__{
		&head{
			line-height: 4.375rem;
			text-align: center;
			font-size: 1.125rem;
			font-weight: 300;
			background-color: color($color__gray--lightest a(0.3));
		}
		&body{
			padding: 1.875rem 2rem;
		}
		&year{
			color: $color__white;
			font-size: 2.125rem;
			font-weight: 300;
		}
		&edit{
			display: inline-block;
			color: $color__white;
			font-size: 0.875rem;
			font-weight: 300;
			border-bottom: 1px dashed $color__white;
			cursor: pointer;
			transition: $animation__duration;
			&:hover{
				border-bottom-color: transparent;
			}
		}
		&check{
			display: flex;
			justify-content: center;
			align-items: center;
			size: 8.125rem;
			border-radius: 50%;
			margin: 1.875rem auto 3rem;
			background-color: $color--secondary;
			&-{
				&icon{
					max-width: 3.75rem;
					max-height: 3.25rem;
					fill: currentColor;
				}
			}
		}
		&radio{
			margin: 0 0 0.75rem 0;
		}
	}
}
