.g-section{
	max-width: 100%;
	// pseudo-classes

	// mods
	&--{
		&bg-pink{
			background-color: $color__pink;
		}
		&bg-green{
			background-color: $color__green;
		}
		&bg-green-dark{
			background-color: $color__green--dark;
		}
		&bg-green-darkest{
			background-color: $color__green--darkest;
		}
	}
	// pseudo-elements

	// elements
	&__{
		&content{
			width: $content;
			max-width: $content;
			padding: 0 1.5rem;
			margin: 0 auto;
			@media(--desktop-less){
				padding: 0;
			}
			@media(--tablet-only){
				max-width: $content--tablet;
				width: $content--tablet;
			}
			@media(--phone-only){
				max-width: $content--phone;
				width: $content--phone;
			}
			&--{
				&resize{
					@media(--desktop-more){
						max-width: calc($content + 5rem);
						width: calc($content + 5rem);
					}
					@media(--tablet-less){
						max-width: calc($content--phone + 2rem);
						width: calc($content--phone + 2rem);
					}
				}
			}
		}
		&title{
			padding: 2.5rem 0 1.5rem 0;
			font-size: 2.125rem;
			font-weight: 300;
			line-height: 2.125rem;
			@media(--tablet-less){
				font-size: 1.375rem;
			}
		}
	}
}
