.g-section{
	max-width: 100%;
	// pseudo-classes

	// mods
	&--{
		&bg-pink{
			background-color: $color__pink;
		}
		&bg-green{
			background-color: $color__green;
		}
		&bg-green-dark{
			background-color: $color__green--dark;
		}
		&bg-green-darkest{
			background-color: $color__green--darkest;
		}
	}
	// pseudo-elements

	// elements
	&__{
		&content{
			max-width: $content;
			min-width: 280px;
			padding: 0 1.25rem;
			margin: 0 auto;
			&--{
				&resize{
					@media(--desktop-more){
						box-sizing: border-box;
						max-width: calc($content + 6rem);
					}
				}
			}
		}
		&title{
			padding: 2.5rem 0 1.5rem 0;
			font-size: 2.125rem;
			font-weight: 300;
			line-height: 2.125rem;
			@media(--tablet-less){
				font-size: 1.375rem;
			}
		}
	}
}
