.menu-pages{
	@extend .b-grid;
	@media(--desktop-less){
		padding: 0 1rem;
	}
	// pseudo-classes

	// mods
	&--{
		&desktop{
			@media(--desktop-less){
				display: none;
			}
		}
		&mobile{
			@media(--desktop-more){
				display: none;
			}

			flex-direction: column;
			margin-top: 2rem;

			.menu-pages__link{
				text-transform: uppercase;
				color: $color__white;
				&:not(:last-child){
					margin-right: 0;
					margin-bottom: 2rem;
				}
				&._active{
					color: $color--secondary;
				}
			}
		}
	}
	// pseudo-elements

	// elements
	&__{
		&link{
			display: block;
			text-decoration: none;

			color: $color__gray--dark;
			font-size: 0.875rem;

			&:not(:last-child){
				margin-right: 3rem;
			}
			&._active{
				font-weight: 900;
				color: $color__green--dark;
			}
			&:not(._active){
				&:hover{
					color: $color--secondary;
				}
			}
		}
	}
}
