.menu-pages{
	@extend .b-grid;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&link{
			display: block;
			text-decoration: none;

			color: $color__gray--dark;
			font-size: 0.875rem;

			&:not(:last-child){
				margin-right: 3rem;
			}
			&._active{
				font-weight: 900;
				color: $color__green--dark;
			}
			&:not(._active){
				&:hover{
					color: $color--secondary;
				}
			}
		}
	}
}
