.information{
	background-color: $color__font--secondary;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			@extend .g-section__content;
			@extend .b-grid;
			@extend .b-grid--row;

			height: 3rem;
			align-items: center;
		}
		&links{
			@extend .b-grid;
		}
		&link{
			display: block;
			text-decoration: none;
			color: $color__white;
			font-size: 0.75rem;
			text-transform: uppercase;
			&:not(:last-child){
				margin-right: 4rem;
			}
			&-{
				&icon{
					max-width: 1.5rem;
					max-height: 1.125rem;
					fill: currentColor;
				}
			}
		}
		&pays{
			@extend .b-grid;
			align-items: center;
			&-{
				&text{
					margin-right: 1.5rem;

					color: $color__white;
					font-size: 0.75rem;
					text-transform: uppercase;
				}
				&icon{
					&:not(:last-child){
						margin-right: 1.5rem;
					}
				}
			}
		}
	}
}
