.information{
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			@extend .b-grid;
			@extend .b-grid--row;

			height: 3rem;
			align-items: center;
		}
		&links{
			@extend .b-grid;

			@media(--tablet-only){
				width: 100%;
				justify-content: space-around;
			}
			@media(--tablet-less){
				width: 100%;
				justify-content: center;
			}
		}
		&link{
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $color__white;
			font-size: 0.75rem;
			text-transform: uppercase;
			white-space: nowrap;
			@media(--desktop-less){
				&:not(:last-child){
					margin-right: 0;
				}
			}
			@media(--tablet-less){
				&:not(:first-child){
					display: none;
				}
			}
			&:not(:last-child){
				margin-right: 4rem;
			}
			&-{
				&icon{
					margin-right: 0.5rem;
					max-width: 1.5rem;
					max-height: 1.125rem;
					fill: currentColor;
				}
			}
		}
	}
}
