.footer{
	padding: 0.75rem;

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			@extend .b-grid;
			@extend .b-grid--row;
			align-items: center;
			@media(--tablet-less){
				justify-content: center;
			}
		}
	}
}
