.g-page{
	font-size: $font-size;
	font-family: $font-family--primary;
	overflow-x: hidden;
	margin: 0;
	min-width: 20rem;
	&__{
		&wrap{
			overflow-x: hidden;

			@media(--desktop-less){
				display: flex;
			}
		}
		&content{
			width: 100%;
			overflow-x: hidden;
			transition: $animation__duration;
			html._small &._{
				&left{
					margin-right: -16rem;
				}
				&right{
					margin-left: -16rem;
				}
 			}
		}
		&menu,
		&cart{
			position: relative;
			z-index: 3;
			transition: $animation__duration;
		}
		&menu{
			&:not(._active){
				margin-left: -16rem;
			}
			width: 16rem;
			min-width: 16rem;
			background-color: $color__green--darkest;
			box-shadow: inset -2px 0 0.5rem color($color__black a(0.1));
		}
		&cart{
			&:not(._active){
				width: 0;
				min-width: 0;
				margin-right: -16rem;
			}
			width: 16rem;
			min-width: 16rem;
			overflow: hidden;
			background-color: $color__white;
			box-shadow: inset 2px 0 0.5rem $color__gray--lightest;
		}
		&overlay{
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			position: fixed 0 0 0 0;
			content: "";
			width: 100%;
			height: 100%;
			background-color: color($color__green a(0.6));
			transition: $animation__duration;
			html._overlay &._active{
				opacity: 1;
				visibility: visible;
				z-index: 2;
			}
			&._active{
				@media(--desktop-less){
					opacity: 1;
					visibility: visible;
					z-index: 2;
				}
 			}
		}
	}
}
