.header{
	position: relative;
	background-color: $color__white;
	@media(--desktop-less){
		&:after{
			content: "";
			z-index: 2;
			position: absolute;
			top: 100%;
			left: -100%;
			width: 300%;
			height: 2px;
			background-color: hsl(174, 100%, 32%);
		}
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&content{
			position: relative;
			padding: 1rem 0;
		}
		&wrap{
			@extend .b-grid;
			@extend .b-grid--row;
			align-items: center;
		}
		&logo{
			max-width: 12rem;
			max-height: 1.75rem;
			color: $color__gray--dark;
			&-{
				&icon{
					fill: currentColor;
					max-width:  11.75rem;
					max-height: 1.75rem;

					@media(--tablet-less){
						max-width: 6.25rem;
						max-height: 0.875rem;
					}
				}
			}
			@media(--desktop-less){
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&phone{
			color: $color__gray--dark;
			font-size: 1.25rem;
			font-weight: 700;
			text-decoration: none;
			@media(--desktop-less){
				display: none;
			}
		}
		&actions{
			@media(--desktop-less){
				width: 100%;
			}
		}
	}
}
