$media__widedesktop_min: 1600px;

$media__desktop_max: 1599px;
$media__desktop_min: 1280px;

$media__tablet_max: 1279px;
$media__tablet_min: 768px;

$media__phone_max: 767px;
$media__phone_min: 320px;

@custom-media --widedesktop-more (min-width: $media__widedesktop_min);
@custom-media --widedesktop-less (max-width: $media__desktop_max);

@custom-media --desktop-more (min-width: $media__desktop_min);
@custom-media --desktop-only (min-width: $media__desktop_min) and (max-width: $media__desktop_max);
@custom-media --desktop-less (max-width: $media__tablet_max);

@custom-media --tablet-more (min-width: $media__tablet_min);
@custom-media --tablet-only (min-width: $media__tablet_min) and (max-width: $media__tablet_max);
@custom-media --tablet-less (max-width: $media__phone_max);

@custom-media --phone-more (min-width: $media__phone_max);
@custom-media --phone-only (min-width: $media__phone_min) and (max-width: $media__phone_max);
@custom-media --phone-more (max-width: $media__phone_max);
