.about{
	background-color: $color__pink;
	padding: 0 0 2.5rem 0;

	@media(--desktop-less){
		display: none;
	}
	// pseudo-classes

	// mods
	&:not(._active){
		.about__body{
			position: relative;
			height: 5rem;
			overflow: hidden;
			&:after{
				content: "";
				position: absolute 0 0 0 0;
				box-shadow: inset 0 -2rem 2rem $color__pink;
				z-index: 2;
			}
		}
		.about__more{
		}
	}
	// pseudo-elements

	// elements
	&__{
		&body{
			@extend .b-grid;
			@extend .b-grid--row;
		}
		&col{
			width: 49%;
		}
		&more{
			margin: 2.5rem 0 0;
			text-align: center;
			font-size: 0.75rem;
			font-weight: 300;
			text-decoration: underline;
			cursor: pointer;
			.about__more-text--show{
				display: none;
			}
			&:not(._active){
				.about__more-text--hidden{
					display: none;
				}
				.about__more-text--show{
					display: block;
				}
			}
		}
	}
}
