.product-mini{
	z-index: 2;
	position: relative;
	box-sizing: border-box;
	padding: 1.25rem;
	margin: 1.5rem 1rem 1.5rem 1rem;
	@media(--desktop-less){
		margin: 1.5rem 0;
	}
	@media(--tablet-less){
		min-height: 250px;
		margin: 0 0.5rem 1rem 0.5rem;
		padding: 0;
	}
	&:hover{
		@media(--desktop-more){
			border-radius: 0.375rem;
			box-shadow: 0 0 30px hsla(0, 0%, 55%, 0.3);
			.product-mini__star{
				opacity: 1;
				visibility: visible;
			}
			.product-mini__preview{
				box-shadow: 0 1px 0 $color--primary;
			}
		}
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&container{
			width: 20%;
			@media(--tablet-only){
				width: 33.33%;
			}
			@media(--tablet-less){
				width: 50%;
			}
		}
		&star{
			position: absolute;
			top: 0;
			right: 0;
			size: 1rem;
			top: 1.5rem;
			right: 1.5rem;
			cursor: pointer;
			transition: $animation__duration;
			@media(--desktop-more){
				opacity: 0;
				visibility: visible;
			}
			&-{
				&icon{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					fill: currentColor;
					max-width: 1.0625rem;
					max-height: 1.0625rem;
					color: $color__gray--lightest;
					&--{
						&inner{
							max-width: 0.625rem;
							max-height: 0.6251rem;
							color: #fff;
						}
					}
				}
			}
			@media(--tablet-less){
				top: 0;
				right: 0;
			}
			&:hover &-icon{
				color: $color--secondary;
			}
		}
		&preview{
			position: relative;
			min-height: 180px;
			margin: 0 0 1rem 0;
			box-shadow: 0 1px 0 $color__gray--lightest;
			@media(--tablet-less){
				min-height: auto;
			}
			&-{
				&img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					max-width: 210px;
					height: auto;
					object-fit: cover;
					@media(--tablet-less){
						max-width: 100%;
					}
				}
			}
		}
		&description{
			color: $color__font--primary;
			line-height: 0.875rem;
			font-size: 0.75rem;
			font-weight: 300;
			@media(--tablet-less){
				font-size: 0.625rem;
			}
		}
		&price{
			text-align: right;
			color: $color__gray--light;
			font-size: 1.75rem;
			font-weight: 300;
			@media(--tablet-less){
				font-size: 1.375rem;
			}
		}
		&button{
			box-sizing: border-box;
			position: relative;
			height: 2.5rem;
			margin-top: 0.5rem;
			border-radius: 0.375rem;
			box-shadow: inset 0 0 0 1px $color__green--light;
			background-color: $color__white;
			overflow: hidden;
			&-{
				&wrap{
					@extend .b-grid;
					@extend .b-grid--row;

					line-height: 2.5rem;
				}
				&more{
					display: block;
					box-sizing: border-box;
					width: calc(100% - 3rem);
					text-align: center;
					color: $color__font--primary;
					font-family: $font-family--secondary;
					font-size: 0.875rem;
					font-weight: 700;
					text-transform: uppercase;
					text-decoration: none;

					@media(--tablet-less){
						font-size: 0.75rem;
					}
				}
				&cart{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 3rem;
					min-width: 3rem;
					text-align: center;
					background-color: $color__font--secondary;
					text-decoration: none;
					color: $color__white;
					transition: $animation__duration;
					cursor: pointer;
					&:hover{
						background-color: #fff;
					}
				}
				&dots{
					opacity: 0;
					visibility: hidden;
					width: 0;
					position: absolute;
					top: 2px;
					left: 2px;
					transition: $animation__duration;

					@extend .b-grid;
					justify-content: center;
					align-items: center;
					width: 0;
					height: calc(100% - 4px);
					color: $color__font--primary;
					background-color: $color__white;
				}
				&add{

					box-sizing: border-box;
					width: calc(100% - 3rem);

					@extend .b-grid;
					justify-content: center;
					align-items: center;
					height: 100%;
					white-space: nowrap;

					position: absolute;
					top: 0;
					left: 100%;
					transition: $animation__duration;

					font-family: $font-family--secondary;
					font-size: 0.875rem;
					font-weight: 700;
					text-transform: uppercase;
					background-color: $color--secondary;
					color: $color__font--primary;

					@media(--tablet-less){
						font-size: 0.75rem;
					}
				}
			}
			&-cart:hover .product-mini__button-add{
				transform: translate(-100%, 0);
			}
			&-cart:hover .product-mini__button-dots{
				box-sizing: border-box;
				opacity: 1;
				visibility: visible;
				width: 3rem;
			}
		}
		&icon{
			&--{
				&button{
					margin-left: 0.5rem;
				}
			}
			&-{
				&cart{
					max-width: 1.25rem;
					max-height: 1.125rem;
					fill: currentColor;
				}
				&dots{
					position: relative;
					size: 0.375rem;
					background-color: $color__font--primary;
					border-radius: 50%;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						right: 100%;

						size: 0.375rem;
						margin-right: 0.25rem;
						background-color: $color__font--primary;
						border-radius: 50%;
					}
					&:after{
						content: "";
						position: absolute;
						top: 0;
						left: 100%;

						size: 0.375rem;
						margin-left: 0.25rem;
						background-color: $color__font--primary;
						border-radius: 50%;
					}
				}
			}
		}
	}
}
