.carousel-catalog{
	margin-bottom: -2.375rem;

	.swiper{

		// elements
		&-{
			&buttons{
				display: flex;
				justify-content: center;
			}
			&button{
				position: static;
				margin: 0 0.3125rem 0;

				size: 2.375rem;
				background: none;
				box-shadow: inset 0 0 0 2px $color__gray--lightest;
				border-radius: 50%;

				display: flex;
				align-items: center;
				justify-content: center;

				fill: gray(20%);

				&-prev{
					> svg{
						transform: rotate(180deg);
					}
				}

				&:hover{
					background-color: $color--secondary;
					box-shadow: none;
				}
			}
		}
	}
}
