.news{
	box-sizing: border-box;
	position: relative;
	padding: 1.5rem;
	background-color: color($color__gray--lightest a(50%));
	@media(--tablet-less){
		padding: 0;
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&info{
			position: relative;
			z-index: 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 17rem;
			height: 100%;
			@media(--tablet-less){
				width: 100%;
			}
		}
		&title{
			box-sizing: border-box;
			position: relative;
			padding: 1.5rem 2rem;
			box-shadow: 0 0 0 5px $color__font--secondary;
			font-size: 1.625rem;
			font-weight: 300;
			&-bold{
				font-weight: 700;
				color: $color__font--secondary;
			}
			@media(--tablet-less){
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;

				width: 100%;
				padding: 1rem;
				box-shadow: none;

				font-size: 1.5rem;
				background-color: color($color__white a(0.7));
				br{
					display: none;
				}
			}
		}
		&description{
			height: 4.5rem;
			margin-top: 1.25rem;
			font-size: 0.875rem;
			font-weight: 300;
			overflow: hidden;
			@media(--tablet-less){
				display: none;
			}
		}
		&img{
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			object-fit: cover;
			@media(--tablet-less){
				width: 100;
				max-width: 100%;
			}
		}
		&icon{
			max-width:  3.375rem;
			max-height: 1.5rem;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			margin-bottom: 5px;
			fill: currentColor;
			color: $color__font--secondary;
			@media(--tablet-less){
				display: none;
			}
		}
		&button{
			@extend .button--flex;
			margin-top: 1.5rem;
			text-align: center;
			width: 12.5rem;
			line-height: 2.75rem;
			font-size: 0.875rem;
			font-weight: 700;
			text-transform: uppercase;
			text-transform: uppercase;
			background-color: $color--primary;
			color: $color__white;
			@media(--tablet-less){
				display: none;
			}
			&-{
				&icon{
					@extend .carousel-main__button-icon;
				}
			}
		}
		&tags{
			position: absolute;
			top: 1.5rem;
			left: 1.5rem;
			@media(--tablet-less){
				top: 0.625rem;
				left: 0.625rem;
			}
		}
	}
}
