.actions{
	@extend .b-grid;
	margin-right: 2px;

	@media(--desktop-less){
		justify-content: space-between;
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&box{
			@extend .b-grid;
			@media(--desktop-more){
				&:not(:last-child){
					margin-right: 2rem;
				}
			}
		}
		&item{
			position: relative;
			cursor: pointer;
			&--{
				&search{
					&._active .search{
						opacity: 1;
						visibility: visible;
						width: 56rem;
					}
				}
				&menu{
					@media(--desktop-more){
						display: none;
					}
				}
			}
			&-{
				&wrap{
					box-sizing: border-box;
					size: 3.75rem;
					border-radius: 50%;
					margin: 1px;

					display: flex;
					justify-content: center;
					align-items: center;

					color: $color__gray--dark;
					@media(--desktop-more){
						box-shadow: 0 0 0 1px $color__gray--lightest;
					}
					@media(--tablet-less){
						size: auto;
					}
				}
			}
			&:not(:last-child){
				margin-right: 2rem;
				@media(--desktop-less){
					margin-right: 1rem;
				}
			}
		}
		&item._active &number{
			display: block;
		}
		&item._active &item-wrap{
			box-shadow: 0 0 0 2px $color--secondary;
			color: $color__green--dark;
			@media(--tablet-less){
				box-shadow: none;
				color: $color--primary;
			}
		}
		&item:hover &item-wrap{
			box-shadow: 0 0 0 2px $color--secondary;
			color: $color__green--dark;
			@media(--tablet-less){
				box-shadow: none;
				color: $color--primary;
			}
		}
		&icon{
			fill: currentColor;
			max-width: 1.625rem;
			max-height: 1.625rem;
		}
		&number{
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(25%, -25%);

			size: 1.5rem;
			border-radius: 50%;

			text-align: center;
			line-height: 1.5rem;
			font-size: 0.875rem;
			font-weight: 700;
			color: $color__gray--dark;
			background-color: $color--secondary;
			@media(--tablet-less){
				transform: translate(50%, -50%);
			}
		}
	}
}
